body {
  padding: 0;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  float: right;
}

body {
  justify-content: center;
  align-items: center;

  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
