/*
html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally.
  justify-content: center;

  /* This centers our sketch vertically.
  align-items: center;
}*/

.center {
    display:flex;
    justify-content: center;

}

.right {
    display:flex;
    float: right;
}

body {
  justify-content: center;
  align-items: center;

  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
